html, body {
    background-color: #333
}

.Home-container {
    text-align: center
}

.search-nav {
    background: #9CB6FF;
    text-align: center;
    padding: 10px 0px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.search-nav input {
	padding:9px 11px;
    outline:none;
    width: 20%;
	border:1px solid #bbb;
	border-radius:20px;
}


.buttons-nav {
    margin-top: 3px;
    background: #9CB6FF;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
  button {
    border: none;
    background-color: #0B6482;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 0.5em;
  }
  

  .button-submit {
    margin-top: 10px;
    border: none;
    background-color: #0B6482;
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 0.5em;
    padding: 10px 20px;
  }

.new-post-wrapper {
    width: 30%;
    margin: 0px auto;

}

.new-post-header {
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
	width:200px;
	font-family:'Lily Script One', cursive;
	font-size:20px;
    font-weight:bold; 
    color:lightgray;   
}

.new-post-header:hover {
	color:cornflowerblue;
}

.form-title input {
    margin:13px 0;
    margin-bottom: 5px;
	padding:12px 11px;
	width: 94%;
	outline:none;
	border:1px solid #bbb;
	border-radius:20px;
}


.body .ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
  }
  
  .body .ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  
  .body .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
  }
  
  .body .ql-editor {
    min-height: 15em;
  }
  
  .themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
  }


  .post-card {
    background: #fff;
    border: 1px solid rgba(160, 165, 184, 0.4);
    transition: 0.3s;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .post-card:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    }

    .post-card-title {
        background: #9CB6FF;
        padding: 10px 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .post-card-body {
        padding: 0px 10px;
    }
  
    /* below codes are for red outline on input Tags & body area and also for error message
       in the NewPost.js component */

  .error {
      border: 2px solid red !important;
      border-radius:10px;
  }
  .error-text {
      font-size: 15px;
      color: red;
      margin: 0.2em;
  }